:root {
  font-size: 16px;
}
/* Reset margins and paddings */
body {
  min-width: 400px;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.menu_icon {
  width: 2rem;
  color: inherit;
}

.container {
  margin: auto;
  min-height: 100vh;
  width: 330px;
}

.header {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url('./images/header.jpg');
  // background-attachment: fixed;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  object-fit: contain;

  &__wrapper {
    z-index: 100;
    background-color: transparent;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    backdrop-filter: brightness(70%);

    &.scroll_menu {
      background-color: white;
      color: black;
      position: fixed;
      width: 100%;
      top: 0;
      box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
      & .header__menu-link__text {
        &::before {
          background-color: black;
        }
      }
    }

    & > input {
      display: none;
    }
  }

  &__menu {
    width: 100%;
    overflow: hidden;
    height: 0px;

    &-item-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &-link {
      padding: 1rem 2rem;
      color: inherit;
      text-decoration: none;
      min-height: fit-content;
      transition: all 0.1s linear;
      width: 100%;
      text-align: center;

      &__text {
        position: relative;
        font-size: 1rem;
        font-family: 'Oswald';

        &::before {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          transform: scaleX(0%);
          transform-origin: right;
          top: 100%;
          background-color: white;
          transition: transform 0.1s;
        }
      }

      &:hover,
      &.active {
        .header__menu-link__text {
          &::before {
            transform: scaleX(100%);
            transform-origin: left;
          }
        }
      }
    }

    &-toggler {
      padding: 1rem;
      display: flex;
      align-self: center;
      margin-left: auto;
    }

    &-brand {
      text-decoration: none;
      color: inherit;
      font-size: 2rem;
      font-family: 'Playfair Display';
      line-height: 2rem;
      padding: 1rem;
    }
  }
}

.marry {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: brightness(80%);

  &__date {
    font-family: 'Caveat';
    letter-spacing: 0.75rem;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  &__persons {
    font-size: 3.5rem;
    font-family: 'Playfair Display';
  }
}

.topbtn {
  z-index: 100;
  position: fixed;
  display: block;
  top: 100%;
  left: 100%;
  transform: translate(-150%, -150%);
  color: inherit;
  border-radius: 15px;
  background-color: white;
  color: #fbb8ac;
  transition: all 0.2s;

  &:hover {
    background-color: #fbb8ac;
    color: white;
  }
}

.story {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Playfair Display';
  min-height: min-content !important;
  gap: 1.3rem;

  &__photo {
    position: relative;
    min-height: 300px;
    min-width: 300px;
    border-radius: 50%;
    overflow: hidden;

    &_wrapper {
      display: flex;
      justify-content: center;
      img {
        position: absolute;
        width: 500px;
        transform: translate(-15%, 0%);
      }
    }
  }

  &__header {
    font-family: inherit;
    font-size: 2rem;
  }

  &__subheader {
    font-family: inherit;
    color: #979797;
    position: relative;
    font-size: 1rem;

    &::before,
    &::after {
      position: absolute;
      top: 40%;
      width: 50px;
      content: '';
      background-image: url(./images//wawe.png);
      background-size: cover;
      aspect-ratio: 96/28;
    }

    &::before {
      transform: translateX(-120%);
    }

    &::after {
      transform: translateX(20%);
    }
  }

  &__text {
    font-family: inherit;
    color: #000000;
    text-align: center;
  }
}

.slider {
  width: 100% !important;
  min-height: min-content !important;

  .swiper-slide {
    max-width: min-content;
    overflow: hidden;

    img {
      max-height: 500px;
      max-width: 500px;
    }
  }
}

.timer {
  width: 100% !important;
  min-height: min-content !important;
  font-size: 2rem;
  background-color: #f1eae4;
  padding: 3rem 0rem;
  text-align: center;
  font-family: 'Playfair Display';
  margin-top: 3rem;
  &-wrapper {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  &-unit {
    font-family: 'Playfair Display';
    font-size: 1.2rem;
  }
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0rem;

  .block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 2rem;

    &-color {
      background-color: var(--bg);
      border-radius: 50%;
      width: 2rem;
      height: 2rem;

      &-wrapper {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
      }
    }

    &-img {
      width: 300px;
      margin: 0rem 1.5rem;
    }

    &-text {
      margin: 0rem 1.5rem;
      max-width: 500px;
    }

    &-header {
      font-family: 'Playfair Display';
      margin-bottom: 0.5rem;
      font-size: 2rem;
    }

    &-subheader {
      font-family: 'Playfair Display';
      position: relative;
      color: #979797;

      &::after,
      &::before {
        content: '';
        width: 50px;
        aspect-ratio: 96/28;
        background-image: url(./images//wawe.png);
        background-size: cover;
        position: absolute;
        top: 60%;
      }

      &::before {
        transform: translateX(-120%) translateY(-50%);
      }

      &::after {
        transform: translateX(20%) translateY(-50%);
      }
    }

    &-paragraph {
      color: #000000;
      font-family: 'Playfair Display';
      margin-top: 0.5rem;
    }

    &.reverse {
      flex-direction: column;
    }
  }
}

.parallax {
  background-image: url('./images/block-bg.jpg');
  // background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: min-content !important;
    font-family: 'Playfair Display';
    padding: 3rem 2rem;
    text-align: center;
    color: white;
    backdrop-filter: brightness(80%);
  }

  &-header {
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 2rem;
  }

  &-paragraph {
    margin-bottom: 2rem;
    font-family: inherit;
    max-width: 500px;
  }

  &-name {
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1.5rem;
  }

  &-subheader {
    font-family: inherit;
    font-size: 1rem;
  }

  &-quotes {
    font-family: inherit;
    font-size: 5rem;
    line-height: 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
  background-color: rgb(28, 28, 28);
  color: white;
  text-align: center;
  font-family: 'Playfair Display';

  &-header {
    font-family: inherit;
    margin-bottom: 2rem;
  }

  &-paragraph {
    font-family: inherit;
    max-width: 500px;
    margin-bottom: 2rem;
  }

  &-contacts {
    font-family: inherit;
    span {
      color: white;
      text-decoration: none;
    }
  }

  &-copyright {
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    cursor: default;
    font-family: inherit;
  }
}

@media screen and (min-width: 576px) {
  .marry {
    &__persons {
      font-size: 5rem;
    }
  }
  .story {
    &__header {
      font-size: 3rem;
    }
    &__subheader {
      font-size: 1.5rem;
    }
    &__text {
      font-size: 1.2rem;
    }
  }
  .parallax {
    &-quotes {
      font-size: 8rem;
    }
    &-header {
      font-size: 3rem;
    }
    &-paragraph {
      font-size: 1.2rem;
    }
  }

  .block {
    &-header {
      font-size: 3rem !important;
    }
    &-subheader {
      font-size: 1.5rem;
    }
    &-paragraph {
      font-size: 1.2rem;
    }
  }

  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .marry {
    &__persons {
      font-size: 6.5rem;
    }
  }

  .container {
    width: 630px;
  }
  .timer {
    font-size: 3rem;
    &-unit {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .header {
    &__menu {
      margin: auto;
      width: auto;
      height: auto;

      &-item-container {
        flex-direction: row;
        align-items: stretch;
      }

      &-toggler {
        display: none;
      }

      &-brand {
        margin: 0;
      }
    }
  }

  .marry {
    &__persons {
      font-size: 8.5rem;
    }
  }

  .container {
    width: 798px;
  }
  .blocks {
    .block {
      flex-direction: row;
      &.reverse {
        flex-direction: row-reverse;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .marry {
    &__date {
      font-size: 2rem;
    }

    &__persons {
      font-size: 9rem;
    }
  }

  .container {
    width: 980px;
  }
}

@media screen and (min-width: 1400px) {
  .marry {
    &__persons {
      font-size: 11rem;
    }
  }

  .container {
    width: 1130px;
  }
}

.menu-enter-active,
.menu-leave-active {
  transition: transform 0.1s;
}

.menu-enter-from,
.menu-leave-to {
  transform: translateY(-100%);
}

.menu-enter-to {
  transform: translateY(0%);
}

.topbtn-enter-active,
.topbtn-leave-active {
  transition: opacity 0.1s;
}

.topbtn-enter-from,
.topbtn-leave-to {
  opacity: 0;
}

.menu-enter-to {
  opacity: 1;
}
