:root {
  font-size: 16px;
}

/* Reset margins and paddings */
body {
  min-width: 400px;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu_icon {
  width: 2rem;
  color: inherit;
}

.container {
  margin: auto;
  min-height: 100vh;
  width: 330px;
}

.header {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url("./images/header.jpg");
  background-attachment: fixed;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.header__wrapper {
  z-index: 100;
  background-color: transparent;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-backdrop-filter: brightness(70%);
          backdrop-filter: brightness(70%);
}
.header__wrapper.scroll_menu {
  background-color: white;
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.header__wrapper.scroll_menu .header__menu-link__text::before {
  background-color: black;
}
.header__wrapper > input {
  display: none;
}
.header__menu {
  width: 100%;
  overflow: hidden;
  height: 0px;
}
.header__menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__menu-link {
  padding: 1rem 2rem;
  color: inherit;
  text-decoration: none;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  transition: all 0.1s linear;
  width: 100%;
  text-align: center;
}
.header__menu-link__text {
  position: relative;
  font-size: 1rem;
  font-family: "Oswald";
}
.header__menu-link__text::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  transform: scaleX(0%);
  transform-origin: right;
  top: 100%;
  background-color: white;
  transition: transform 0.1s;
}
.header__menu-link:hover .header__menu-link__text::before, .header__menu-link.active .header__menu-link__text::before {
  transform: scaleX(100%);
  transform-origin: left;
}
.header__menu-toggler {
  padding: 1rem;
  display: flex;
  align-self: center;
  margin-left: auto;
}
.header__menu-brand {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  font-family: "Playfair Display";
  line-height: 2rem;
  padding: 1rem;
}

.marry {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
}
.marry__date {
  font-family: "Oswald";
  letter-spacing: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.marry__persons {
  font-size: 3.5rem;
  font-family: "Playfair Display";
}

.topbtn {
  z-index: 100;
  position: fixed;
  display: block;
  top: 100%;
  left: 100%;
  transform: translate(-150%, -150%);
  color: inherit;
  border-radius: 15px;
  background-color: white;
  color: #fbb8ac;
  transition: all 0.2s;
}
.topbtn:hover {
  background-color: #fbb8ac;
  color: white;
}

.story {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Playfair Display";
  min-height: -webkit-min-content !important;
  min-height: -moz-min-content !important;
  min-height: min-content !important;
  gap: 1.3rem;
}
.story__photo {
  position: relative;
  min-height: 300px;
  min-width: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.story__photo_wrapper {
  display: flex;
  justify-content: center;
}
.story__photo_wrapper img {
  position: absolute;
  width: 500px;
  transform: translate(-15%, 0%);
}
.story__header {
  font-family: inherit;
  font-size: 2rem;
}
.story__subheader {
  font-family: inherit;
  color: #979797;
  position: relative;
  font-size: 1rem;
}
.story__subheader::before, .story__subheader::after {
  position: absolute;
  top: 55%;
  width: 50px;
  height: 1.5px;
  content: "";
  background-color: #979797;
}
.story__subheader::before {
  transform: translateX(-120%);
}
.story__subheader::after {
  transform: translateX(20%);
}
.story__text {
  font-family: inherit;
  color: #979797;
  text-align: center;
}

.slider {
  width: 100% !important;
  min-height: -webkit-min-content !important;
  min-height: -moz-min-content !important;
  min-height: min-content !important;
}
.slider .swiper-slide {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  overflow: hidden;
}
.slider .swiper-slide img {
  max-height: 500px;
  max-width: 500px;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0rem;
}
.blocks .block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 2rem;
}
.blocks .block-color {
  background-color: var(--bg);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.blocks .block-color-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.blocks .block-img {
  width: 300px;
  margin: 0rem 1.5rem;
}
.blocks .block-text {
  margin: 0rem 1.5rem;
  max-width: 500px;
}
.blocks .block-header {
  font-family: "Playfair Display";
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.blocks .block-subheader {
  font-family: "Playfair Display";
  position: relative;
  color: #979797;
}
.blocks .block-subheader::after, .blocks .block-subheader::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #979797;
  position: absolute;
  top: 50%;
}
.blocks .block-subheader::before {
  transform: translateX(-120%) translateY(-50%);
}
.blocks .block-subheader::after {
  transform: translateX(20%) translateY(-50%);
}
.blocks .block-paragraph {
  color: #979797;
  font-family: "Playfair Display";
  margin-top: 0.5rem;
}
.blocks .block.reverse {
  flex-direction: column;
}

.parallax {
  background-image: url("./images/block-bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
}
.parallax-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: -webkit-min-content !important;
  min-height: -moz-min-content !important;
  min-height: min-content !important;
  font-family: "Playfair Display";
  padding: 3rem 2rem;
  text-align: center;
  color: white;
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
}
.parallax-header {
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 2rem;
}
.parallax-paragraph {
  margin-bottom: 2rem;
  font-family: inherit;
  max-width: 500px;
}
.parallax-name {
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.5rem;
}
.parallax-subheader {
  font-family: inherit;
  font-size: 1rem;
}
.parallax-quotes {
  font-family: inherit;
  font-size: 5rem;
  line-height: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
  background-color: rgb(28, 28, 28);
  color: white;
  text-align: center;
  font-family: "Playfair Display";
}
.footer-header {
  font-family: inherit;
  margin-bottom: 2rem;
}
.footer-paragraph {
  font-family: inherit;
  max-width: 500px;
  margin-bottom: 2rem;
}
.footer-contacts {
  font-family: inherit;
}
.footer-contacts span {
  color: white;
  text-decoration: none;
}
.footer-copyright {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  cursor: default;
}

@media screen and (min-width: 576px) {
  .marry__persons {
    font-size: 5rem;
  }

  .story__header {
    font-size: 3rem;
  }
  .story__subheader {
    font-size: 1.5rem;
  }
  .story__text {
    font-size: 1.2rem;
  }

  .parallax-quotes {
    font-size: 8rem;
  }
  .parallax-header {
    font-size: 3rem;
  }
  .parallax-paragraph {
    font-size: 1.2rem;
  }

  .block-header {
    font-size: 3rem !important;
  }
  .block-subheader {
    font-size: 1.5rem;
  }
  .block-paragraph {
    font-size: 1.2rem;
  }

  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .marry__persons {
    font-size: 6.5rem;
  }

  .container {
    width: 630px;
  }
}
@media screen and (min-width: 992px) {
  .header__menu {
    margin: auto;
    width: auto;
    height: auto;
  }
  .header__menu-item-container {
    flex-direction: row;
    align-items: stretch;
  }
  .header__menu-toggler {
    display: none;
  }
  .header__menu-brand {
    margin: 0;
  }

  .marry__persons {
    font-size: 8.5rem;
  }

  .container {
    width: 798px;
  }

  .blocks .block {
    flex-direction: row;
  }
  .blocks .block.reverse {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .marry__date {
    font-size: 2rem;
  }
  .marry__persons {
    font-size: 9rem;
  }

  .container {
    width: 980px;
  }
}
@media screen and (min-width: 1400px) {
  .marry__persons {
    font-size: 11rem;
  }

  .container {
    width: 1130px;
  }
}
.menu-enter-active,
.menu-leave-active {
  transition: transform 0.1s;
}

.menu-enter-from,
.menu-leave-to {
  transform: translateY(-100%);
}

.menu-enter-to {
  transform: translateY(0%);
}

.topbtn-enter-active,
.topbtn-leave-active {
  transition: opacity 0.1s;
}

.topbtn-enter-from,
.topbtn-leave-to {
  opacity: 0;
}

.menu-enter-to {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */