<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.9"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.36/vue.global.prod.min.js"
      integrity="sha512-JY3Fi3P2Vu6k3lFvN+azQXnnNp27fmSSy5eRdP8IeTQtVb36Ai93YGiQ4OWenbosePREVc8EH5gk4Eo5Qoiqng=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
      integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/locale/ru.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />
    <title>Свадьба 2022</title>
  </head>
  <body id="top">
    <header class="header">
      <div class="header__wrapper">
        <a href="" class="header__menu-brand" draggable="false">
          & Приглашение
        </a>
        <label class="header__menu-toggler" for="toggler" @click="toggleMenu">
          <svg
            class="menu_icon"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 20 16"
            enable-background="new 0 0 20 16"
            xml:space="preserve"
            fill="currentColor"
          >
            <rect class="navbar__toggler" y="0" width="20" height="2"></rect>
            <rect class="navbar__toggler" y="7" width="20" height="2"></rect>
            <rect class="navbar__toggler" y="14" width="20" height="2"></rect>
          </svg>
        </label>
        <input type="checkbox" id="toggler" v-model="menuHidden" />
        <div
          class="header__menu"
          :style="isDesktop && ''"
          v-if="!scrolledFromTop"
        >
          <div class="header__menu-item-container">
            <a href="#top" class="header__menu-link" draggable="false">
              <span class="header__menu-link__text">Домой</span>
            </a>
            <a href="#gallery" class="header__menu-link" draggable="false">
              <span class="header__menu-link__text">Галерея</span>
            </a>
          </div>
        </div>
      </div>
      <section class="marry">
        <div class="marry__date">14 августа 2022</div>
        <div class="marry__persons">Данил & Диана</div>
      </section>
    </header>
    <transition name="menu">
      <div class="header__wrapper scroll_menu" v-if="scrolledFromTop">
        <a href="" class="header__menu-brand" draggable="false">
          & Приглашение
        </a>
        <label class="header__menu-toggler" for="toggler" @click="toggleMenu">
          <svg
            class="menu_icon"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 20 16"
            enable-background="new 0 0 20 16"
            xml:space="preserve"
            fill="currentColor"
          >
            <rect y="0" width="20" height="2"></rect>
            <rect y="7" width="20" height="2"></rect>
            <rect y="14" width="20" height="2"></rect>
          </svg>
        </label>
        <input type="checkbox" id="toggler" v-model="menuHidden" />
        <div class="header__menu" :style="isDesktop && ''">
          <div class="header__menu-item-container">
            <a href="#top" class="header__menu-link" draggable="false">
              <span class="header__menu-link__text">Домой</span>
            </a>
            <a href="#gallery" class="header__menu-link" draggable="false">
              <span class="header__menu-link__text">Галерея</span>
            </a>
          </div>
        </div>
      </div>
    </transition>
    <transition name="topbtn">
      <a href="#top" v-if="scrolledFromTop" class="topbtn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="48"
          width="48"
          fill="currentColor"
        >
          <path
            d="M22.5 40V13.7L10.1 26.1L8 24L24 8L40 24L37.9 26.1L25.5 13.7V40Z"
          />
        </svg>
      </a>
    </transition>
    <main>
      <section class="container story">
        <div class="story__photo_wrapper">
          <div class="story__photo">
            <img src="./images/story.jpg" alt="" />
          </div>
        </div>
        <h1 class="story__header">Дорогие друзья!</h1>
        <h6 class="story__subheader">14 августа 2022 г.</h6>
        <p class="story__text">
          Мы приглашаем вас на торжественную церемонию, посвященную нашему
          бракосочетанию, которая состоится 14 августа 2022 года в 16:00. Мы
          будем счастливы разделить свою радость с вами в наш особенный день.
        </p>
      </section>
      <section class="container slider" id="gallery">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./images/slide1.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./images/slide2.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./images/slide3.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./images/slide4.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./images/slide5.jpg" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="container timer">
        До начала торжества осталось: <br>
        <div class="timer-wrapper">
          <div class="timer-unit">месяцев <br> {{timerMonths }}</div>
          <div class="timer-unit">дней <br> {{timerDays}}</div>
          <div class="timer-unit">часов <br> {{timerHours}}</div>
          <div class="timer-unit">минут <br> {{timerMinutes}}</div>
        </div>
      </section>
      <section class="container blocks">
        <div class="block">
          <img src="./images/slide4.jpg" alt="" class="block-img" />
          <div class="block-text">
            <h2 class="block-header">«Усадьба»</h2>
            <span class="block-subheader">место проведения</span>
            <p class="block-paragraph">
              Мероприятие стстоится по адресу: поселок Орловка, ул. Заречная 8.
              В гостинно-ресторанном комплексе «Усадьба»
            </p>
          </div>
        </div>
        <div class="block reverse">
          <img src="./images/header.jpg" alt="" class="block-img" />
          <div class="block-text">
            <h2 class="block-header">Дресс-код</h2>
            <span class="block-subheader">организация</span>
            <p class="block-paragraph">
              Мы очень старались сделать праздник красивым и будем рады, если в
              своих нарядах вы поддержите цветовую гамму нашей свадьбы:
              <div class="block-color-wrapper">
                <div class="block-color" style="--bg:#C78F78"></div>
                <div class="block-color" style="--bg:#DBBCAA"></div>
                <div class="block-color" style="--bg:#EFD6D2"></div>
                <div class="block-color" style="--bg:#FBEBD4"></div>
                <div class="block-color" style="--bg:#F1EAE4"></div>
              </div>
            </p>
          </div>
        </div>
      </section>
      <section class="parallax">
        <div class="parallax-wrapper">
          <span class="parallax-quotes">"</span>
          <h3 class="parallax-header">Детали</h3>
          <p class="parallax-paragraph">
            Если хотите подарить нам ценный и нужный подарок, мы будем очень
            благодарны за вклад в бюджет нашей молодой семьи.
          </p>
          <!-- <span class="parallax-name">Steven Hall</span> -->
          <!-- <h6 class="parallax-subheader">decorator</h6> -->
        </div>
      </section>
    </main>
    <footer class="footer">
      <h2 class="footer-header">& Приглашение</h2>
      <p class="footer-paragraph">«Место для счастья - здесь, <br> время для счастья - сейчас!»</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2300.335478608693!2d20.5283419!3d54.7916473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e33fe99fffd487%3A0x84658ae9ce213ef!2z0YPQuy4g0JfQsNGA0LXRh9C90LDRjywgOCwg0J7RgNC70L7QstC60LAsINCa0LDQu9C40L3QuNC90LPRgNCw0LTRgdC60LDRjyDQvtCx0LsuLCAyMzgzMDA!5e0!3m2!1sru!2sru!4v1654435890589!5m2!1sru!2sru"
        width="auto"
        height="auto"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <span class="footer-copyright">
        Будем рады Вас видеть! <br>
      </span>
    </footer>
    <script src="./index.js"></script>
  </body>
</html>
